{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>{% block title %} {% endblock title %} | iPortfolio </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'mysite/assets/img/favicon.ico' %}" rel="icon" type="image/png">
  <link href="{% static 'mysite/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'mysite/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'mysite/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'mysite/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'mysite/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'mysite/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'mysite/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'mysite/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'mysite/assets/img/profile.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light text-center"><a href="home.html">DeeGee Buddy</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://skype.com/" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i><span>About</span></a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="#testimonials"><i class="bx bx-file-blank"></i> <span>Testimonials</span></a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i>Get in touch</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  {% block body %}


  {% endblock body %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by Developer
      </div>
    </div>
  </footer><!-- End  Footer -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mysite/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'mysite/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mysite/assets/js/main.js' %}"></script>

</body>

</html>