{% extends 'base.html' %}
{% load static %}

<!--==========Head Section Starts here===========-->
{% block title %} Home {% endblock title %}
<!--==========Head Section Ends here===========-->


{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>DeeGee Buddy</h1>
      <p>We're <span class="typed" data-typed-items="Entrepreneurs, Developers, Designers"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        {% for a in about %}
        <div class="section-title">
          <h2>About</h2>
          <p class="p1 text-center font-italic">{{a.p1}}</p>
        </div>

        <div class="row">
          
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{a.ab_image.url}}" class="img-fluid" alt="">
          </div>
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p class="p2">
              {{a.p2}}
            </p>
            
            <p class="p3">
              {{a.p3}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
        
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container">
    
            <div class="section-title">
              <h2>Services</h2>
              <p class="text-center font-italic">How we can help you?, Which kind help you need?, What are we providing? Just go through our services.</p>
            </div>

            <div id="accordion">
                <div class="card-header" id="headingOne" data-aos="fade-up">
                  <h5 class="title">
                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      SEARCH ENGINE OPTIMIZATION
                    </a>
                  </h5>
                </div>
              
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Optimize your website so that you business can rank high on search engines like Google, Yahoo and Being etc..

                    <div class="col">
                      <br>
                      <ul>
                        <li><i class="icofont-rounded-right"></i> <strong>What is SEO?</strong></li>
                        <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                        <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                      </ul>
                    </div>
                  </div>
                </div>
               
              <div class="card-header" id="headingTwo" data-aos="fade-up" data-aos-delay="100">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    PAY PER CLICK
                  </a>
                </h5>
              </div>
            
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Make your each penny count in marketing and advertisement. Grow your business with pay per click on Google, Facebook, Instagram and other well renowned platforms.

                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>What is Pay Per Click?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>

              <div class="card-header" id="headingThree" data-aos="fade-up" data-aos-delay="200">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    APP STORE OPTIMIZATION
                  </a>
                </h5>
              </div>
            
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Did you just create and outstanding application or game? Let me help you to get more downloads and reviews on it.

                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>What is App Store Optimization?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>

              <div class="card-header" id="headingFour" data-aos="fade-up" data-aos-delay="300">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    SOCIAL MEDIA MARKETING
                  </a>
                </h5>
              </div>
            
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  Today almost everyone is on social media than why not your company be? Or if you already on social media then let me help you to generate more leads and business through my marketing skills.

                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>Which are the best platforms?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>

              <div class="card-header" id="headingFive" data-aos="fade-up" data-aos-delay="400">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    LANDING PAGE CREATION
                  </a>
                </h5>
              </div>
            
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  It’s a proverb that “First impression is the last impression” lets create the best UI/UX design for your website or application to capture more attention of your audience.

                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>What is Landing Page Optimization?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>

              <div class="card-header" id="headingSix" data-aos="fade-up" data-aos-delay="500">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    SOCIAL MEDIA OPTIMIZATION
                  </a>
                </h5>
              </div>
            
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  We believe in helping people to create their presence online on popular platforms. But its not easy optimization of your profile is necessary.
                  
                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>What is Social Media Optimization?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>

              <div class="card-header" id="headingSeven" data-aos="fade-up" data-aos-delay="600">
                <h5 class="title">
                  <a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    WEBSITE DEVELOPMENT
                  </a>
                </h5>
              </div>
            
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  Today every business is on Google then what are you waiting for? Let me help you to grow your business digitally.

                  <div class="col">
                    <br>
                      <li><i class="icofont-rounded-right"></i> <strong>How it works?</strong></li>
                      <li><i class="icofont-rounded-right"></i> <strong>Why it is necessary?</strong></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p class="text-center font-italic">You can visit through below mentioned Projects that we have done till now.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-out" data-aos-delay="100">
          {% for p in port %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{p.project_type}}">
            <div class="portfolio-wrap">
              <img src="{{p.project_thumbnail.url}}" class="img-fluid img-resize" alt=" ">
            <div class="portfolio-links">
                <a href="{{p.project_link}}">{{p.project_name}}</a>
            </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p class="text-center font-italic">What our clients want to say</p>
        </div>
        
        
        <div class="owl-carousel testimonials-carousel">
          {% for r in revw %}
          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{r.review}}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{{r.image.url}}" class="testimonial-img" alt="">
            <h3>{{r.person_name}}</h3>
            <h4>{{r.jobpost}}</h4>
          </div>
          {% endfor %}
        </div>
        

      </div>
    </section>
    <!-- End Testimonials Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Get in touch</h2>
          <p class="text-center font-italic">If you want to tell us something, Do not hasitate and Just Contact Us. :) </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Somewhere in World</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>welcome@oursite.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 7600 298 287</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777126.836658803!2d69.07490698739754!3d22.40641593570401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1591849636705!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>  
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form id="contact-form" action="home.html" method="POST" onsubmit="home.html" role="form" class="php-email-form">
              
              {% csrf_token %}
              
              <div class="form-row">
 
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>

                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              
              </div>
                
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="desc", id="desc" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div>
                
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" name="sendButton">Send Message</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
    
{% endblock body %}